body {
  background-color: black;
  color: white;
  text-align: left;
}

#subject {
  font-size: 75px;
}

#controller {
  position: absolute;
  bottom: 0px;
}

#number {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 400px;
  height: 230px;
  text-align: center;
  vertical-align: middle;
  font-size: 170px;
  font-weight: bolder;
}

#result {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 400px;
  height: 700px;
}